h1{
    color: red;
    background-color: seashell;
    text-align: center;
    font-weight: 900;
}
p{
    color: springgreen;
    background-color: deeppink;
}
#Rayhan{
    color: gold;
}
.ami{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 5px solid rgb(25, 0, 255);
    margin: 20px 80px;
}